body{ margin:0px;
padding: 0%;}
.c-item{  height: 568px;  }
.c-img{ height:100%;
object-fit: cover;

}

.btn-danger{  background-color:rgba(255, 0, 55, 1) ;   }
.overview{   
height:180px;
background-color: antiquewhite;



}